In [23]:
import pandas as pd
import geopandas as gpd
import os
import numpy as np
import functions as f

The data collection stage was performed by administrative regions. Now, we want to put together all green spaces in denmark, into one big dataframe.

In [24]:
df = pd.DataFrame()

for file in os.listdir("./dataset/raw_unprocessed/green_spaces"):
    place = file.split("_")[0]
    type1 = file.split("_")[1]
    type2 = "_".join(file.replace(".parquet", "").replace("_ALL", "").split("_")[2:])

    x = gpd.read_parquet(f"./dataset/raw_unprocessed/green_spaces/{file}")
    # hey Gino, yoou have to reproject the data before calculating the area
    # dont do this. The files in WGS84 projection
    # x.crs = "EPSG:25832"

    # reproject
    x = x.to_crs(f.DENMARK_CRS)
    x.crs = "EPSG:25832"

    x = x.reset_index()

    x["place"] = place
    x["type1"] = type1
    x["type2"] = type2
    x["area_km"] = x[["geometry"]].area/1000000 # square kilometer instead of square meter
    df = pd.concat([df, x], ignore_index=True)

Make a summary of the green spaces, including the number, the total area (in km2), the average area and the standard deviation.

In [29]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)
summary = df[["type1", "type2", "area_km"]].groupby(["type1", "type2"]).agg(Number=("type2", "count"), Total=("area_km", "sum"), AVG=("area_km", "mean"), STD=("area_km", "std")).reset_index()

In [30]:
summary.sort_values("AVG", ascending=False)

       type1              type2  Number       Total      AVG      STD
34     water             lagoon      47   582.41141 12.39173 57.13227
23   natural              heath    5538   825.83725  0.14912  1.17797
4    landuse           farmland  115907 15444.07420  0.13325  0.24781
18   natural              beach     934    75.95641  0.08132  0.89633
6    landuse             forest  120330  6532.49036  0.05429  0.49867
14   leisure           dog_park     311    16.32359  0.05249  0.15416
42     water              river     207    10.75130  0.05194  0.10142
20   natural          coastline    1579    78.68648  0.04983  0.44226
8    landuse         greenfield    1484    68.34794  0.04606  0.16277
10   landuse            orchard     929    35.40959  0.03812  0.05723
1    landuse         allotments     729    27.39649  0.03758  0.05986
31     water              canal      54     1.76112  0.03261  0.11778
11   landuse  recreation_ground    2063    64.86923  0.03144  0.34020
9    landuse             meadow   58942  1681.44478  0.02853  0.10816
16   leisure             marina     283     5.91387  0.02090  0.03172
17   leisure               park    5054   104.37105  0.02065  0.16617
22   natural          grassland   12492   241.05141  0.01930  0.04395
28   natural              water   96963  1770.92163  0.01826  1.68151
35     water               lake   23128   422.35191  0.01826  0.38739
13   landuse           vineyard      71     1.26836  0.01786  0.03938
38     water              oxbow      21     0.34896  0.01662  0.04342
29   natural               wood   10309   122.36200  0.01187  0.06846
3    landuse           cemetery    1401    15.45691  0.01103  0.02654
0    amenity         grave_yard     969     8.80989  0.00909  0.01141
12   landuse      village_green     155     1.19449  0.00771  0.02141
37     water               moat     111     0.64783  0.00584  0.00884
24   natural              scrub   48753   220.80595  0.00453  0.03126
21   natural               fell       5     0.01830  0.00366  0.00184
7    landuse              grass   32801   117.82745  0.00359  0.01655
41     water          reservoir     387     1.23518  0.00319  0.01030
39     water               pond    7153    12.40377  0.00173  0.00519
30     water              basin    2254     3.71655  0.00165  0.00388
2    landuse              basin    3403     3.97770  0.00117  0.00190
15   leisure             garden    3465     3.96071  0.00114  0.00567
32     water              ditch      11     0.01174  0.00107  0.00174
19   natural               cape     325     0.30143  0.00093  0.01135
36     water               lock       7     0.00321  0.00046  0.00037
33     water          fish_pass      16     0.00436  0.00027  0.00044
25   natural          shrubbery     293     0.05454  0.00019  0.00049
40     water    reflecting_pool      51     0.00779  0.00015  0.00030
5    landuse          flowerbed     476     0.05213  0.00011  0.00078
26   natural             spring     285     0.00289  0.00001  0.00011
27   natural           tree_row   17097     0.01945  0.00000  0.00014
43  waterway              canal     924     0.00000  0.00000  0.00000
44  waterway              river    2432     0.00000  0.00000  0.00000
45  waterway             stream   37543     0.00000  0.00000  0.00000
46  waterway          waterfall      10     0.00000  0.00000  0.00000

In [28]:
summary.Number.sum()

617702

Let's make a reduced version of the dataset, where we keep the type of green space, its geometry and area. We simplify the polygons with 5 meters tolerance, to optimize storage and computations.

In [31]:
reduced= df[["type1", "type2", "geometry", "area_km"]].simplify(5)

Save the resulting geodataframe.

In [32]:
f.geoseries_to_geopandas(reduced, crs=f.DENMARK_CRS).to_parquet("./dataset/raw_unprocessed/green_spaces.parquet")